h1{
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}

.ResultWarp {
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}

section {
    width: 100vw;
    height: 100vh;
}

.section1 {
    color: #fff;
    background: linear-gradient(-45deg, #1d2c41, #B7B9D9, #4FA3FA, #22131a);
    background-repeat: no-repeat;
    background-size: 1200% 1200%;
    position: relative;
    animation: backgroundChange 20s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@keyframes backgroundChange {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.forest {
    position: absolute;
    bottom: 0;
    min-width: 100%;
    pointer-events: none;
}

.appContentWarp {
    position: relative;
}

#root {
    margin-top: 0;
}

.input {
    padding: 20px;
    border: 0px black solid;
    border-radius: 20px;
    box-shadow: 2px 3px 5px 0px;
}

.temp {
    text-align: center;
    font-size: 60px;
    margin-top: 6px;
}

.city {
    text-align: center;
    font-size: 30px;
}

.sky {
    font-size: 20px;
    text-align: center;
    margin-top: 8px;
}

.ResultWarp {
    margin-top: 10px;
    padding: 10px;
    border: 0px black solid;
    border-radius: 8px;
}




